[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "PPtreeregViz"]
	path = PPtreeregViz
	url = https://github.com/sunsmiling/pptreeregviz
	shallow = true
	registered = true
